body {
  background-color: #94ebcd;
  color: #0d335d;
}

h1 {
  color: #09015f ;
  /*6930c3*/
}

h3 {
  color: #09015f ;
}

hr {
  background-color: #94ebcd;
  border-style: dotted none none none;
  border-color: #161d6f;
  border-width: 5px;
 /* height: 0px; */
  width: 90%;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table {
  padding: 10px;
}
/*
prev. color = #6930c3 
*/
